body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* DISEÑOS DE PASTELERIA CHILENA */
.fondopal-1 {
  height: 85vh;
  background-image: url("./PastelImg/pastch001.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


/* .fondo-pal2 {
  position: relative;
  margin-top: 66px;
  background: #DFDAE2;
  width: 100%;
  height: 100%;
} */

/* Menú de Navegación */
.header111 {
  /* position: fixed; */
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  /* background: linear-gradient(180deg, #9b6de6 0%, #762933 100%); */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
  padding: 0px 7px;
  display: flex;
  align-items: center;
  justify-content: end;
  z-index: 1000;
}

.header111 .brand {
  font-weight: bolder;
  font-size: 1.2rem;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.header111 .brand .link-nav {
  position: relative;
  display: flex;
  align-items: center;
  color: white;
}

.icon001 {
  position: relative;
  padding: 0px 4px;
  width: 90px;
}

.header111 nav .ul0001 {
  list-style: none;
}

.header111 nav .ul0001 .ele001 {
  position: relative;
  float: left;
}

.header111 nav .ul0001 .ele001 .link-nav {
  font-size: 20px;
  padding: 20px;
  color: black;
  display: block;
}

.header111 nav .ul0001 .ele001 .link-nav:hover {
  background-color: rgb(196, 196, 18);
  color: white;
}

.header111 nav .ul0001 .ele001 .ul0002 {
  position: absolute;
  left: 0px;
  width: 200px;
  background: #762933;
  display: none;
}

.header111 nav .ul0001 .ele001:hover>.ul0002 {
  display: initial;
}

.header111 .ul0002 {
  list-style: none;
}

/* Preajustes al responsive */
.link-res {
  display: none;
}

.header111 .btn-nav button,
.header111 .link-res button {
  margin-left: 20px;
  font-weight: 700;
  color: #1b3039;
  padding: 9px 25px;
  background: #eceff1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header111 .btn-nav:hover {
  background-color: #e2f1f8;
  color: #ffbc0e;
  transform: scale(1.1);
}

.link-nav .span006 {
  list-style: none;
}

.link-nav .span006 .icon006 {
  color: white;
  font-size: 30px;
  width: 30px;
}

@media screen and (max-width: 800px) {
  .ul0001 {
    display: none;
  }

  .link-res {
    display: inherit;
  }
}

/* Responsive a la navbar con funciones*/
.header111 .link-nav {
  text-decoration: none;
}

.header111 .menu-res {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, #9b6de6 0%, #762933 100%);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.header111 .menu-res .link-res-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header111 .menu-res .link-nav {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  color: #eceff1;
}

.header111 .menu-res .link-nav:hover,
.header111 .menu-res .link-nav:focus {
  color: #ffeb3b;
}

.header111 .menu-res .menu-close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 65px;
}

@media screen and (max-height: 450px) {
  .header111 .menu-res .link-nav {
    font-size: 20px;
  }

  .header111 .menu-res .menu-close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.container001 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
}

.text-001 {
  margin-left: 50px;
  color: black;
  font-size: 30px;
}

.imgcircle {
  width: 350px;
  height: 320px;
  display: flex;
}

.imgcircle .img001 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.img002 {
  display: flex;
  width: 350px;
  height: 320px;
}

.text-004 {
  color: black;
  font-size: 50px;
  padding: 15px 0px;
}

.text-005 {
  color: black;
  padding: 1px 0px;
}

.text-006 {
  color: black;
  font-size: 22px;
}

.social-001 {
  display: flex;
  list-style: none;
}

.social-001 li {
  margin: 0 8px;
  cursor: pointer;
  font-size: 40px;
}

.social-001 li .fa-facebook,
.social-001 li .fa-twitter {
  color: #0088FF;
}

.social-001 li .fa-youtube {
  color: red;
}

.social-001 li .fa-instagram {
  background: #f09433;
  border-radius: 14px;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

@media (max-width: 900px) {
  .fondopal-1 {
    height: 111vh;
  }

  .container001 {
    display: grid;
    grid-template-columns: 3fr;
  }

  .container001 .imgcircle {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}

.container-ini {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: url('./PastelImg/pastch001.jpg');
  background-size: cover;
  height: 100vh;
}

.left-ini {
  background: linear-gradient(red, rgba(0, 0, 255, 0.411));
  display: flex;
  place-items: center;
  justify-content: center;
  text-align: center;
}

.left-ini .h1-ini {
  color: white;
  font-size: 50px;
}

.right-ini {
  display: flex;
  justify-content: center;
  place-items: center;
}

@media (max-width: 900px) {
  .container-ini {
    grid-template-columns: 3fr 1fr;
    height: 122vh;
  }

  .container-ini .right-ini {
    display: none;
  }
}

.form001 {
  min-height: 100vh;
  padding: 66px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form002 {
  width: 100%;
  position: relative;
  max-width: 450px;
  z-index: 1;
}

.right-ini .img001 {
  position: relative;
  left: 60px;
  width: 350px;
  height: 320px;
}

.form002 form {
  border-color: black;
  border: 1px solid gray;
  padding: 40px 50px;
  border-radius: 20px;
}

.form002 h3 {
  font-size: 28px;
  text-align: center;
  line-height: 1.2;
  color: black;
  font-weight: 500;
}

.form002 .input001 {
  margin-bottom: 25px;
}

.form002 ::placeholder {
  color: inherit;
  opacity: 1;
}

.form002 .input002 {
  display: block;
  height: 45px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  color: black;
  font-weight: inherit;
  font-family: inherit;
}

.form002 .input002:focus {
  outline: none;
}

.form002 .text-003 {
  margin-top: 10px;
  text-align: right;
}

.form002 .btn001 {
  height: 45px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: inherit;
  cursor: pointer;
  border-radius: 25px;
  user-select: none;
  background: linear-gradient(to right, #bd17cc, #920505e7);
  border: none;
  color: white;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.form002 .btn001::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  transition: background-color 0.5s ease;
  z-index: -1;
}

.form002 .btn001:hover::before {
  background-color: violet;
}

.form002 p {
  text-align: center;
  color: black;
}

.text003 {
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  color: black;
}

a .text003 {
  background: linear-gradient(to right, #bd17cc, #920505e7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Del componente Ini-Res Sesión */
.form003 {
  min-height: 100vh;
  padding: 60px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form004 {
  width: 100%;
  max-width: 450px;
  position: relative;
  z-index: 1;
}

.form004 .form005 {
  border-color: white;
  border: 1px solid gray;
  padding: 40px 50px;
  border-radius: 20px;
}

.form004 h3 {
  font-size: 28px;
  text-align: center;
  line-height: 1.2;
  color: white;
  font-weight: 500;
}

.form004 form {
  margin: 25px 0px 20px;
}

.form004 .input003 {
  margin-bottom: 25px;
}

.form004 ::placeholder {
  color: inherit;
  opacity: 1;
}

.form004 .input004 {
  display: block;
  height: 45px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  color: white;
  font-weight: inherit;
  font-family: inherit;
  font-size: 16px;
}

.form004 .input004:focus {
  outline: none;
}

.form004 .link002 {
  margin-top: 10px;
  text-align: right;
}

.form004 .btn004 {
  height: 45px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: inherit;
  cursor: pointer;
  border-radius: 25px;
  user-select: none;
  background: linear-gradient(to right, #bd17cc, #920505e7);
  border: none;
  color: white;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.form004 .btn004::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  transition: background-color 0.5s ease;
  z-index: -1;
}

.form004 .btn004:hover::before {
  background-color: violet;
}

.form004 p {
  text-align: center;
  color: white;
}

.link003 {
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  color: white;
}

a .link003 {
  background: linear-gradient(to right, #bd17cc, #920505e7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* SLider */
.body-slider{
  min-height: 100vh;
  padding: 0px 90px;
  background: #f1f0f0;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.slider-container{
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.slider{
  width: 500%;
  position: relative;
  animation: slider-past 10s linear infinite;
}

.play-run{
  animation-play-state: running;
}

.play-stop{
  animation-play-state: paused;
}

.slider-past{
  width: 20%;
  height: 400px;
  float: left;
  position: relative;
}

.slider-past img{
  width: 100%;
  height: 100%;
}

.fa-icon1{
  font-size: 2.5em;
  color: #fff;
  right: 50px;
  bottom: 30px;
  opacity: .5;
  position: absolute;
  z-index: 4;
}

.fa-icon1:hover{
  cursor: pointer;
  opacity: 1;
}

@keyframes slider-past {
  0%{
      left: 0;
  }
  20%{
      left: 0;
  }
  25%{
      left: -100%;
  }
  45%{
      left: -100%;
  }
  50%{
      left: -200%;
  }
  70%{
      left: -200%;
  }
  75%{
      left: -300%;
  }
  95%{
      left: -300%;
  }
  100%{
      left: -400%;
  }
}
/* Fin Slider */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 25px;
}

.grid-item1 {
  float: left;
  padding: 20px;
}

.box-grid {
  height: 50px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: #E0E0E0;
  align-items: center;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}

.box-grid:hover .search-past {
  width: 380px;
}

.box-grid .search-past {
  width: 0px;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}

.box-grid .btn-search .fa-magnifying-glass {
  color: black;
  font-size: 18px;
}

.h3001 {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

/* Caja de Filtrado */
.div-down {
  display: flex;
  background: #f1f0f0;
  color: #000000;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 102vh; */
  margin-top: 45px;
  border-radius: 9px;
}

.container-down {
  width: 450px;
  padding: 25px 40px 25px 25px;
  border: 2px solid black;
  border-radius: 15px;
}

.row-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px;
  font-size: 24px;
}

.label-down {
  position: relative;
  width: 50px;
  height: 50px;
}

.input-down {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.label-down .span-down {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 3px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.label-down .span-down::after {
  content: '';
  position: absolute;
  left: 24px;
  bottom: 10px;
  width: 20px;
  height: 40px;
  border: solid blue;
  border-width: 0px 6px 6px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: width 0.5s, height 0.5s, opacity 0.5s;
}

.input-down:checked~.span-down::after {
  width: 20px;
  height: 40px;
  opacity: 1;
}

@media (max-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .div-down {
    width: 85%;
    display: flex;
  }

}
/* Fin de caja filtrado */
/* Footer */
/* .div-footer{
  display: inline-flex;
} */

.footer-past {
  display: flex;
  color: #fffefe;
  padding: 2rem 0;
  height: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #3c3c3c;
}

.box-past {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.box-past .img001 {
  width: 200px !important;
}

.footer-past .h2-past {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.links-past li {
  list-style: none;
  line-height: 30px;
  text-align: center;
  font-weight: 100;
}

.links-past li a {
  text-decoration: none;
  color: #fff;
}

.registration {
  display: flex;
  flex-direction: column;
}

.registration input {
  padding: 10px;
  font-weight: 100;
  border: none;
  outline: none;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  margin: 1rem 0;
}

.btn-past {
  border: none;
  padding: 12px 0;
  border-radius: 30px;
  cursor: pointer;
}

.address {
  text-align: center;
  margin-bottom: 10px;
}

.social {
  display: flex;
  list-style: none;
}

.social li {
  margin: 0 8px;
  cursor: pointer;
  font-size: 18px;
}

.container004 input {
  display: none;
}

.container004 .link-card001 {
  text-decoration: none;
  color: black;
}

.container004 {
  max-width: 100em;
  /* background-color: lightgreen; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  margin: auto;
  min-height: 30em;
  padding: 3em 1em 1em 1em;
  box-sizing: border-box;
}

/* Card Styling */
.card-div {
  width: 20em;
  min-height: 20em;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: var(--card-main-color);
  margin: 0.6em;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: transform 0.2s ease-in-out;
}

/* ======== General styling of all cards and heart divs ========== */
.img-div {
  width: 100%;
  height: 8em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  z-index: 1;
  border-radius: 0 0 10px 10px;
}

.img-div img {
  transform-origin: bottom;
  transform: translateY(7.5%);
  transition: transform 0.3s ease-in-out
}

/* === Styling the like Icon ==== */
.like-icon-div {
  padding: 1em 1em 0 1em;
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  font-size: 1.5em;
  color: var(--heart-icon-color);
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: flex-end;
}

.like-icon-div-child {
  /* background-color: yellow; */
  width: 1em;
  height: 1em;
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.heart-empty {
  position: absolute;
  left: 0;
  opacity: 1;
}

.heart-fill {
  position: absolute;
  left: 0;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.25s ease-in-out, opacity 0.2s ease-in-out;
}


/* God of war image and heart-background*/
.gow-img-div {
  background-color: var(--card-1-secondary-color);
}

.gow-img-div img {
  width: 65%;
  transform: translateY(7.5%);
  /* background-color: whitesmoke; */
}

.card-1 .like-icon-div {
  background-color: var(--card-1-secondary-color);
}


/* Sekiro image and heart-background */
.sekiro-img-div {
  background-color: var(--card-2-secondary-color);
}

.sekiro-img-div img {
  width: 45%;
  transform: translateY(7.5%);
}

.card-2 .like-icon-div {
  background-color: var(--card-2-secondary-color);
}


/* Dazai image and heart-background */
.dazai-img-div {
  background-color: var(--card-3-secondary-color);
}

.dazai-img-div img {
  width: 80%;
  transform: translateY(7.5%);
}

.card-3 .like-icon-div {
  background-color: var(--card-3-secondary-color);

}

/* U4 image and heart-background*/
.u4-img-div {
  background-color: var(--card-4-secondary-color);
}

.u4-img-div img {
  width: 50%;
  transform: translateY(7.5%);
}

.card-4 .like-icon-div {
  background-color: var(--card-4-secondary-color);
}

/* ======== text Container Styling general ======== */

.text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  padding: 0 1.5em;
  padding-top: 7em;
  padding-bottom: 1em;
  box-sizing: border-box;
}

.text-container .item-name,
.text-container .date {
  margin: 0.25em 0;
  text-align: center;
}

.text-container .item-name {
  font-size: 1.2em;
  font-weight: var(--title-font-weight);
  color: var(--heading-color);
}

.text-container .date {
  font-size: 0.9em;
  font-weight: var(--date-font-weight);
  color: var(--date-text-color);
}

/* === Pricing and cart div  ===== */
.pricing-and-cart {
  /* background-color: wheat; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.25em 0 1em 0;
}

.pricing {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.previous-price {
  font-size: 0.8rem;
  font-weight: var(--pricing-font-weight);
  color: var(--previous-price-text-color);
  text-decoration: line-through;
  /* background-color: whitesmoke; */
  text-align: left;
}

.current-price {
  color: var(--current-price-text-color);
  font-size: 1.3rem;
  font-weight: var(--pricing-font-weight);
  /* background-color: yellow; */
  margin: 0;
}

.pricing-and-cart {
  width: 100%;
}

.fa-shopping-cart {
  font-size: 1.3rem;
  top: 0;
  transform: translateY(50%);
}


/* ====== Hover effects ======= */
.card-div:hover .img-div img {
  transform: translateY(7.5%) scale(1.2);
}

.card-div:hover {
  transform: translate(0, -10px);
}

.like-icon-div-child:hover .heart-fill {
  opacity: 1;
  transform: scale(1);
}

.like-icon-div-child:hover .heart-empty {
  transition-delay: 0.25s;
  opacity: 0;
}

#card-1-like:checked~.heart-empty,
#card-2-like:checked~.heart-empty,
#card-3-like:checked~.heart-empty,
#card-4-like:checked~.heart-empty {
  opacity: 0;
}

#card-1-like:checked~.heart-fill,
#card-2-like:checked~.heart-fill,
#card-3-like:checked~.heart-fill,
#card-4-like:checked~.heart-fill {
  animation: like-animation 0.25s ease-in-out forwards;
}

#card-1-like:not(:checked)~.heart-fill,
#card-2-like:not(:checked)~.heart-fill,
#card-3-like:not(:checked)~.heart-fill,
#card-4-like:not(:checked)~.heart-fill {
  animation: unlike-animation 0.25s ease-in-out;
}


@keyframes like-animation {
  0% {
    opacity: 1;
    transform: scale(1)
  }

  50% {
    opacity: 1;
    color: var(--liked-heart-icon-color);
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    color: var(--liked-heart-icon-color);
    transform: scale(1.0);
  }
}

@keyframes unlike-animation {
  0% {
    opacity: 1;
    transform: scale(1)
  }

  50% {
    opacity: 1;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    color: var(--heart-icon-color);
    transform: scale(1.0);
  }
}

.img003 {
  position: relative;
  width: 500px;
  height: 450px;
}

.text-002 {
  position: relative;
  bottom: 200px;
  margin-top: 200px;
  margin-left: 100px;
  color: black;
  font-size: 30px;
}

.projcard-container {
  margin: 50px 0;
}

/* Actual Code: */
.projcard-container,
.projcard-container * {
  box-sizing: border-box;
}

.projcard-container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.projcard {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #ddd;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.projcard:hover {
  box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
  transform: translate(0px, -3px);
}

.projcard::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 0.07;
}

.projcard:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #424242, transparent 50%);
}

.projcard-innerbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.projcard-img {
  position: absolute;
  height: 300px;
  width: 400px;
  top: 0;
  left: 0;
  transition: transform 0.2s ease;
}

.projcard:nth-child(2n) .projcard-img {
  left: initial;
  right: 0;
}

.projcard:hover .projcard-img {
  transform: scale(1.05) rotate(1deg);
}

.projcard:hover .projcard-bar {
  width: 70px;
}

.projcard-textbox {
  position: absolute;
  top: 7%;
  bottom: 7%;
  left: 430px;
  width: calc(100% - 470px);
  font-size: 17px;
}

.projcard:nth-child(2n) .projcard-textbox {
  left: initial;
  right: 430px;
}

.projcard-textbox::before,
.projcard-textbox::after {
  content: "";
  position: absolute;
  display: block;
  background: #ff0000bb;
  background: #fff;
  top: -20%;
  left: -55px;
  height: 140%;
  width: 60px;
  transform: rotate(8deg);
}

.projcard:nth-child(2n) .projcard-textbox::before {
  display: none;
}

.projcard-textbox::after {
  display: none;
  left: initial;
  right: -55px;
}

.projcard:nth-child(2n) .projcard-textbox::after {
  display: block;
}

.projcard-textbox * {
  position: relative;
}

.projcard-title {
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  font-size: 24px;
}

.projcard-subtitle {
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  color: #888;
}

.projcard-bar {
  left: -2px;
  width: 50px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}

.projcard-blue .projcard-bar {
  background-color: #0088FF;
}

.projcard-blue::before {
  background-image: linear-gradient(-70deg, #0088FF, transparent 50%);
}

.projcard-blue:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #0088FF, transparent 50%);
}

.projcard-red .projcard-bar {
  background-color: #D62F1F;
}

.projcard-red::before {
  background-image: linear-gradient(-70deg, #D62F1F, transparent 50%);
}

.projcard-red:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #D62F1F, transparent 50%);
}

.projcard-green .projcard-bar {
  background-color: #40BD00;
}

.projcard-green::before {
  background-image: linear-gradient(-70deg, #40BD00, transparent 50%);
}

.projcard-green:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #40BD00, transparent 50%);
}

.projcard-yellow .projcard-bar {
  background-color: #F5AF41;
}

.projcard-yellow::before {
  background-image: linear-gradient(-70deg, #F5AF41, transparent 50%);
}

.projcard-yellow:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #F5AF41, transparent 50%);
}

.projcard-orange .projcard-bar {
  background-color: #FF5722;
}

.projcard-orange::before {
  background-image: linear-gradient(-70deg, #FF5722, transparent 50%);
}

.projcard-orange:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #FF5722, transparent 50%);
}

.projcard-brown .projcard-bar {
  background-color: #C49863;
}

.projcard-brown::before {
  background-image: linear-gradient(-70deg, #C49863, transparent 50%);
}

.projcard-brown:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #C49863, transparent 50%);
}

.projcard-grey .projcard-bar {
  background-color: #424242;
}

.projcard-grey::before {
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
}

.projcard-grey:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #424242, transparent 50%);
}

.projcard-customcolor .projcard-bar {
  background-color: var(--projcard-color);
}

.projcard-customcolor::before {
  background-image: linear-gradient(-70deg, var(--projcard-color), transparent 50%);
}

.projcard-customcolor:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, var(--projcard-color), transparent 50%);
}

.projcard-description {
  z-index: 10;
  font-size: 15px;
  color: #424242;
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projcard-tagbox001 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.projcard-tagbox002 {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  padding: 30px 40px;
  border: 3px solid #111;
  gap: 40px;
  border-radius: 30px;
  background: #0c007d;
  box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, .5),
  inset 15px 15px 3px rgba(255, 255, 255, .1),
  -4px -4px 15px rgba(255, 255, 255, .1),
  inset -2px -2px 12px rgba(0, 0, 0, .75);
}

.projcard-tagbox002 .projcard-tagbox003 {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.projcard-tagbox002 .projcard-tagbox003::before {
  content: '\f005';
  position: absolute;
  font-family: fontAwesome;
  font-size: 34px;
  color: #111;
  transition: .5s;
}

.projcard-tagbox002 .projcard-tagbox003:hover ~ .projcard-tagbox003::before,
.projcard-tagbox002 .projcard-tagbox003:hover::before,
.projcard-tagbox002 .projcard-tagbox003:checked ~ .projcard-tagbox003::before,
.projcard-tagbox002 .projcard-tagbox003:checked::before {
  color: #ff9933;
}

/* .projcard-tagbox {
  position: absolute;
  bottom: 3%;
  font-size: 14px;
  cursor: default;
  user-select: none;
  pointer-events: none;
}

.projcard-tag {
  display: inline-block;
  background: #E0E0E0;
  color: #777;
  border-radius: 3px 0 0 3px;
  line-height: 26px;
  padding: 0 10px 0 23px;
  position: relative;
  margin-right: 20px;
  cursor: default;
  user-select: none;
  transition: color 0.2s;
}

.projcard-tag::before {
  content: '';
  position: absolute;
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  height: 6px;
  left: 10px;
  width: 6px;
  top: 10px;
}

.projcard-tag::after {
  content: '';
  position: absolute;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #E0E0E0;
  border-top: 13px solid transparent;
  right: -10px;
  top: 0;
} */

/* Del componente Admin - Dashboard */
.header-dash {
  height: 70px;
  width: 100vw;
  padding: 0 30px;
  background-color: var(#fafaff);
  position: fixed;
  z-index: 100;
  box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 27px;
  font-weight: 600;
  color: rgb(47, 141, 70);
}

.icn {
  height: 30px;
}

.menuicn {
  cursor: pointer;
}

.searchbar,
.message,
.logosec {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar2 {
  display: none;
}

.logosec {
  gap: 60px;
}

.searchbar input {
  width: 250px;
  height: 42px;
  border-radius: 50px 0 0 50px;
  background-color: #ededed;
  padding: 0 20px;
  font-size: 15px;
  outline: none;
  border: none;
}

.searchbtn {
  width: 50px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 50px 50px 0px;
  background-color: #0c007d;
  cursor: pointer;
}

.message {
  gap: 40px;
  position: relative;
  cursor: pointer;
}

.circle {
  height: 7px;
  width: 7px;
  position: absolute;
  background-color: #fa7bb4;
  border-radius: 50%;
  left: 19px;
  top: 8px;
}

.dp {
  height: 40px;
  width: 40px;
  background-color: #626262;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.main-container001 {
  display: flex;
  width: 100vw;
  position: relative;
  top: 70px;
  z-index: 1;
}

.dpicn {
  height: 42px;
}

.main-dash {
  height: calc(100vh - 70px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 40px 30px 30px 30px;
}

.main-dash::-webkit-scrollbar-thumb {
  background-image:
    linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
}

.main-dash::-webkit-scrollbar {
  width: 5px;
}

.main-dash::-webkit-scrollbar-track {
  background-color: #9e9e9eb2;
}

/* Del componente Optionone */
.box-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.nav-dash {
  min-height: 91vh;
  width: 250px;
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  left: 00;
  box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 30px 0 20px 10px;
}

.navcontainer {
  height: calc(100vh - 70px);
  width: 250px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
}

.navcontainer::-webkit-scrollbar {
  display: none;
}

.navclose {
  width: 80px;
}

.nav-option {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 30px 0 20px;
  gap: 20px;
  transition: all 0.1s ease-in-out;
}

.nav-option:hover {
  border-left: 5px solid #a2a2a2;
  background-color: #dadada;
  cursor: pointer;
}

.nav-option .link005 {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
  color: black;
  transition: all 0.1s ease-in-out;
}

.nav-img {
  height: 30px;
}

.nav-upper-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.optionselect1.active {
  border-left: 5px solid #010058af;
  background-color: #3f0097;
  color: white;
  cursor: pointer;
}

.optionselect.active:hover {
  border-left: 5px solid #010058af;
  background-color: #3f0097;
}

.box001 {
  height: 130px;
  width: 230px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.box001:hover {
  transform: scale(1.08);
}

.box001:nth-child(1) {
  background-color: #3f0097;
}

.box001:nth-child(2) {
  background-color: #5500cb;
}

.box001:nth-child(3) {
  background-color: #3f0097;
}

.box001:nth-child(4) {
  background-color: #5500cb;
}

.box001 img {
  height: 50px;
}

.box001 .text {
  color: white;
}

.topic {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
}

.topic-heading {
  font-size: 30px;
  letter-spacing: 3px;
}

.report-container {
  min-height: 300px;
  max-width: 1200px;
  /* margin: 70px auto 0px auto; */
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
  padding: 0px 20px 20px 20px;
}

.report-header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
  border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.recent-Articles {
  font-size: 30px;
  font-weight: 600;
  color: #5500cb;
}

.view001 {
  height: 35px;
  width: 90px;
  border-radius: 8px;
  background-color: #5500cb;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.report-body {
  max-width: 1160px;
  overflow-x: auto;
  padding: 20px;
}

.report-topic-heading,
.item1 {
  width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.report-body-v2, .item2{
  width: 1025px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;
  margin-top: 5px;
}

.item2 .t-op{
  font-size: 20px;
}


.t-op {
  font-size: 18px;
  letter-spacing: 0px;
}

.items {
  width: 1120px;
  margin-top: 15px;
}

.item1 {
  margin-top: 20px;
}

.t-op-nextlvl {
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 600;
}

.label-tag {
  width: 100px;
  text-align: center;
  background-color: rgb(0, 177, 0);
  color: white;
  border-radius: 4px;
}

/* Responsive CSS Here */
@media screen and (max-width: 950px) {
  .nav-img {
    height: 25px;
  }

  .nav-option {
    gap: 30px;
  }

  .nav-option h3 {
    font-size: 15px;
  }

  .report-topic-heading,
  .item1,
  .items {
    width: 800px;
  }
}

@media screen and (max-width: 850px) {
  .nav-img {
    height: 30px;
  }

  .nav-option {
    gap: 30px;
  }

  .nav-option h3 {
    font-size: 20px;
  }

  .report-topic-heading,
  .item1,
  .items {
    width: 700px;
  }

  .navcontainer {
    width: 100vw;
    position: absolute;
    transition: all 0.6s ease-in-out;
    top: 0;
    left: -100vw;
  }

  .nav-dash {
    width: 100%;
    position: absolute;
  }

  .navclose {
    left: 00px;
  }

  .searchbar {
    display: none;
  }

  .main-dash {
    padding: 40px 30px 30px 30px;
  }

  .searchbar2 {
    width: 100%;
    display: flex;
    margin: 0 0 40px 0;
    justify-content: center;
  }

  .searchbar2 input {
    width: 250px;
    height: 42px;
    border-radius: 50px 0 0 50px;
    background-color: #ededed;
    padding: 0 20px;
    font-size: 15px;
    border: 2px solid #0c007d;
  }
}

@media screen and (max-width: 490px) {
  .message {
    display: none;
  }

  .logosec {
    width: 100%;
    justify-content: space-between;
  }

  .logo {
    font-size: 20px;
  }

  .menuicn {
    height: 25px;
  }

  .nav-img {
    height: 25px;
  }

  .nav-option {
    gap: 25px;
  }

  .nav-option h3 {
    font-size: 12px;
  }

  .nav-upper-options {
    gap: 15px;
  }

  .recent-Articles {
    font-size: 20px;
  }

  .report-topic-heading,
  .item1,
  .items {
    width: 550px;
  }
}

@media screen and (max-width: 400px) {
  .recent-Articles {
    font-size: 17px;
  }

  .view001 {
    width: 60px;
    font-size: 10px;
    height: 27px;
  }

  .report-header {
    height: 60px;
    padding: 10px 10px 5px 10px;
  }

  .searchbtn img {
    height: 20px;
  }
}

@media screen and (max-width: 320px) {
  .recent-Articles {
    font-size: 12px;
  }

  .view001 {
    width: 50px;
    font-size: 8px;
    height: 27px;
  }

  .report-header {
    height: 60px;
    padding: 10px 5px 5px 5px;
  }

  .t-op {
    font-size: 12px;
  }

  .t-op-nextlvl {
    font-size: 10px;
  }

  .report-topic-heading,
  .item1,
  .items {
    width: 300px;
  }

  .report-body {
    padding: 10px;
  }

  .label-tag {
    width: 70px;
  }

  .searchbtn {
    width: 40px;
  }

  .searchbar2 input {
    width: 180px;
  }
}

/* Del componente Optiontwo */
.container-card-crud {
  width: 100%;
  min-height: 100vh;
  background-color: #5500cb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 90px;
}

.content-section-crud {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-card-crud .card-crud {
  flex: 1;
  margin: 20px 20px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .2);
}

.container-card-crud .card-crud .img004 {
  width: 100%;
  height: auto;
}

.content-section-crud .card-crud .h2004 {
  margin: 15px 0px;
  font-size: 28px;
  color: #449de6;
}

.content-section-crud .card-crud .p004 {
  font-size: 16px;
  line-height: 1.5;
  padding: 0px 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px){
  .content-section-crud {
    flex-direction: column;
  }
}

/* Modal del componente Optionone */
/* .wrapper {
  height: 100vh;
  /* This part is important for centering the content */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* End center */
/* } */ */

/* .wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  color: #585858;
  font-family: 'Roboto', sans-serif;
}  */
.btn-modal {
  text-decoration: none;
  padding: 15px;
  border-radius: 8px;
  background-color: #5500cb;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.modal001 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}

.modal001:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.modal__footer {
  text-align: right;
  a {
    color: #585858;
  }
  i {
    color: #d02d2c;
  }
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}

.form007 {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.form008 {
  width: 100%;
  max-width: 450px;
  position: relative;
  z-index: 1;
}

.form008 .form009 {
  border-color: white;
    border: 1px solid gray;
    /* padding: 40px 50px; */
    border-radius: 20px;
}

.form008 .input005 {
  margin-bottom: 12px; 
}

.form008 .input006 {
  display: block;
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    color: white;
    font-weight: inherit;
    font-family: inherit;
    font-size: 16px;
}